<form [formGroup]="cardForm">
    <app-input [label]="'Name'" [control]="cardForm.controls.name"></app-input>
    <app-input [label]="'cardNumber'" [control]="cardForm.controls.cardNumber"></app-input>
    <app-input [label]="'expiration'" [control]="cardForm.controls.expiration"></app-input>
    <app-input [label]="'securityCode'" [control]="cardForm.controls.securityCode"></app-input>
    <button class="button is-primary" [disabled]="cardForm.invalid">Submit</button>
</form>
<hr>
<div>form content: {{cardForm.value | json}}</div>
<div>Form is valid: {{cardForm.valid}}</div>
<div>error around name: {{cardForm.controls.name.errors | json}}</div>